= javascript_include_tag "pages/dashboard", type: "module", "data-turbolinks-track": "reload"
- content_for :stylesheets do
  = stylesheet_link_tag 'pages/dashboard'

%div.grid.text-white{ style: "grid-template-columns: auto 1fr;  height: calc(100vh - 50px);" }
  
  = render "shared/sidebar", dashboard: @dashboard
 
  %section.dashboard.overflow-x-auto
    %div.flex.flex-nowrap
      - 5.times do |i|
        %div.dashboard__list.flex-shrink-0.flex.flex-col
          %div.dashboard__list__header.flex.items-center.justify-between
            %div.dashboard__list__title List Name
            %button
              = image_tag("trash.svg", alt: "Delete", class: "cursor-pointer dashboard__list__icon")

          %div.dashboard__list__tasks.overflow-y-scroll
            - 7.times do |i|
              %div.dashboard__task.flex.items-center.cursor-pointer
                %button.dashboard__task__complete.cursor-pointer
                %span Fix: Change paragraphs that are "Ads/Trying to Sell" to a more formal report text.
                %button.dashboard__task__icon
                  = image_tag("cross.svg", alt: "Delete", class: "cursor-pointer ")
          
          %div.dashboard__list__add.flex.items-center
            = image_tag("plus.svg", alt: "Add", class: "cursor-pointer dashboard__list__icon")
            %button.cursor-pointer Add new task

      -# Add new list btn
      %div.dashboard__list.flex-shrink-0.flex.flex-col{id: "createList", data_modal: "listModal"}
        %div.dashboard__list__add.flex.items-center
          = image_tag("plus.svg", alt: "Add", class: "cursor-pointer dashboard__list__icon")
          %button.cursor-pointer Add new list

      = render "shared/modal", id: "listModal" do
        %div.register__title Create New List
        = form_with url: "/submit-form", local: true do |f|
          .field
            = f.label :title, "List Name", class: "field__label"
            = f.text_field :title, class: "field__input"
          .actions
            = f.submit "Create List", class: "button cursor-pointer"
