= javascript_include_tag "pages/dashboard", type: "module", "data-turbolinks-track": "reload"
- content_for :stylesheets do
  = stylesheet_link_tag 'pages/dashboard'

%div.grid.text-white{ style: "grid-template-columns: auto 1fr;  height: calc(100vh - 50px);" }
  
  = render "shared/sidebar"
 
  %section.dashboard.overflow-x-auto
    %div.flex.flex-nowrap
      - 5.times do |i|
        %div.dashboard__list.flex-shrink-0.flex.flex-col
          %div.dashboard__list__header.flex.items-center.justify-between
            %div.dashboard__list__title List Name
            %button
              = image_tag("trash.svg", alt: "Delete", class: "cursor-pointer dashboard__list__icon")

          %div.dashboard__list__tasks.overflow-y-scroll
            - 5.times do |i|
              %div.dashboard__task.flex.items-center.cursor-pointer
                %button.dashboard__task__complete.cursor-pointer
                %span Fix: Change paragraphs that are "Ads/Trying to Sell" to a more formal report text.
                %button.dashboard__task__icon
                  = image_tag("cross.svg", alt: "Delete", class: "cursor-pointer ")
          
          %div.dashboard__list__add.flex.items-center
            = image_tag("plus.svg", alt: "Add", class: "cursor-pointer dashboard__list__icon")
            %button.cursor-pointer Add new task

