= javascript_include_tag "pages/home", type: "module", "data-turbolinks-track": "reload"
- content_for :stylesheets do
  = stylesheet_link_tag 'pages/home'

%div.home.container.mx-auto.text-white.flex.flex-col.md:flex-row.gap-4
 
  = render "shared/aside", isRoot: false

  %section.home-main.w-full{ class: "md:w-3/4 lg:w-5/6" }
    %div.home-main__label.flex.items-center
      = image_tag("clock.svg", alt: "Recently", class: "home-main__label__icon")
      %span Popular Templates
    %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-4.gap-4
      - if @popular_templates.any?
        - @popular_templates.each do |template|
          = link_to template.container.name, template_path(template.id), class: "home-main__dashboard flex items-center justify-center cursor-pointer"
      - else
        %span.text-gray-500 No templates.

    %div.home-main__label.flex.items-center
      = image_tag("dashboards.svg", alt: "Dashboards", class: "home-main__label__icon")
      %span Your Templates
    %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-4.gap-4
      - if @own_templates.any?
        - @own_templates.each do |template|
          = link_to template.container.name, template_path(template.id), class: "home-main__dashboard flex items-center justify-center cursor-pointer"
      - else
        %span.text-gray-500 No templates.

    %div.home-main__label.flex.items-center
      = image_tag("dashboards.svg", alt: "Dashboards", class: "home-main__label__icon")
      %span Search Template:
      %input.field__input.home-main__label__input
      %button.button.cursor-pointer Search

    %div.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-4.gap-4
      - 2.times do |i|
        %button.home-main__dashboard.flex.items-center.justify-center.cursor-pointer Template {i + 1}
     