%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Rtello
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" # scss
    = stylesheet_link_tag "tailwind", media: "all", "data-turbolinks-track": "reload" # tailwind
    = yield :stylesheets # inject page specific stylesheet
    = javascript_include_tag "application", type: "module", "data-turbolinks-track": "reload" # typescript
    -# pass authentication info to TS, because HAML directly rendered by Rails
    %meta{name: "current-user", content: "#{current_user.present?}"}  

  %body.h-screen
    -# NAV BAR
    %nav.navigation.text-white.flex.items-center
      = link_to "Rtello", root_path, class: "navigation__logo font-bold cursor-pointer"
      - if user_signed_in?
        %div.navigation__btn.flex.items-center
          %button.cursor-pointer{id: "see-dashboards", data_modal: "dashboards-popup"} Dasboards
          = image_tag("arrow.svg", alt: "▾", class: "navigation__btn_icon cursor-pointer")
          %div.navigation__dropdown.hidden{id: "dashboards-popup"}
            - if @all_dashboards.any?
              - @all_dashboards.each do |dashboard|
                %div.workspace.navigation__dropdown__item.flex.items-center
                  %div.workspace__icon.cursor-pointer.flex.items-center.justify-center= dashboard.container.name[0]
                  = link_to dashboard.container.name, dashboard_path(dashboard.id), class: "cursor-pointer"
                %div.workspace.navigation__dropdown__line
            - else 
              %span.text-gray-500 No dashboards.

        %div.navigation__btn.flex.items-center
          %button.cursor-pointer{id: "see-recents", data_modal: "recents-popup"} Recent
          = image_tag("arrow.svg", alt: "▾", class: "navigation__btn_icon cursor-pointer")
          %div.navigation__dropdown.hidden{id: "recents-popup"}
            - 3.times do |i|
              %div.workspace.navigation__dropdown__item.flex.items-center
                %div.workspace__icon.cursor-pointer.flex.items-center.justify-center D
                %button.cursor-pointer Dashboard Name 1
              %div.workspace.navigation__dropdown__line

        %div.navigation__btn.flex.items-center
          %button.cursor-pointer{id: "see-templates", data_modal: "templates-popup"} Templates
          = image_tag("arrow.svg", alt: "▾", class: "navigation__btn_icon cursor-pointer")
          %div.navigation__dropdown.hidden{id: "templates-popup"}
            - if @all_templates.any?
              - @all_templates.each do |template|
                %div.workspace.navigation__dropdown__item.flex.items-center
                  %div.workspace__icon.cursor-pointer.flex.items-center.justify-center= template.container.name[0]
                  = link_to template.container.name, template_path(template.id), class: "cursor-pointer"
                %div.workspace.navigation__dropdown__line
            - else 
              %span.text-gray-500 No templates.

        %button.button.text-white.cursor-pointer{id: "create-dashboard", data_modal: "dashboard-modal"} Create
        
        = render "shared/modal", id: "dashboard-modal" do
          %div.register__title Create Blank Dashboard
          = form_with url: "/api/dashboards", :method => :post, id: "dashboard-form" do |f|
            .field
              = f.label :name, "Dashboard Name", class: "field__label"
              = f.text_field :name, class: "field__input"
            .actions
              = f.submit "Create Blank", class: "button cursor-pointer"

      %div.navigation__account.flex.items-center
        %div.navigation__account_avatar.flex.items-center.justify-center.cursor-pointer AV
        %button.cursor-pointer{id: "seeAccount", data_modal: "accountPopup"} Account
        = image_tag("arrow.svg", alt: "▾", class: "navigation__btn_icon cursor-pointer")
        %div.navigation__dropdown.hidden{id: "accountPopup"}
          %div.navigation__dropdown__item
            - if user_signed_in?
              %button.cursor-pointer= current_user.full_name
              %div.workspace.navigation__dropdown__line
              = button_to "Log Out", destroy_user_session_path, method: :delete, class: "cursor-pointer"
            - else
              = link_to "Sign Up", new_user_registration_path, class: "cursor-pointer "
              %div.workspace.navigation__dropdown__line
              = link_to "Sign In", new_user_session_path, class: "cursor-pointer "
              %div.workspace.navigation__dropdown__line
              = button_to user_google_oauth2_omniauth_authorize_path, method: :post,:data => {turbo: "false"}, class: "google-sign-in-btn cursor-pointer" do
                = image_tag("https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png", alt: "Sign in with Google")
          
    %main.main
      = yield
